@import 'input.scss';

body{
    height: 100%;
}

#header{
    padding: 2% 15% 2% 15%;
}

#header-content{

}

#logo{
    position: relative;
    bottom: 8%;
    width: 30%;
}

.nav-link-container{
    
}

.link{
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5em;   
    padding: 10%; 
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
    text-decoration: underline;
}
