body{
    height: 100%;
}

#header{
    padding: 2% 15% 2% 15%;
}

#header-content{

}

#site-name{
    color: black;
    font-family: cursive;
    font-size: 300%;
    font-weight: 600;
}

#logo{
    width: 30%;
}

a:hover{
    text-decoration: none;
}